<!DOCTYPE html>
<html>
    <head>
        <title>Froyo Ordering</title>
    </head>
    <body>
        <!-- Your HTML code goes here! -->
        <form action="/froyo_results" method="GET">
            <lable for='flavor'>What is your favorite Fro-Yo flavor?</lable><br/>
            <input type="text" name="flavor"><br/>
            <lable for='toppings'>What toppings would you like?</lable> <br/>
            <input type="text" name="toppings">
            <input type="submit" value="Submit!"><br/>
        </form>
    </body>
</html>
